body, html {
  height: 100%;
  display: grid;
}
 body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(#6dd5ed, #387989);
  background-repeat: no-repeat;
}
#theMeat {
  margin: auto;
  font-family: FreeMono, monospace;
  font-size: 1.8em;
  text-align: center;
}
